html { 
    scroll-behavior: smooth;
}

body{
    height: 105vh;
    margin-bottom: 10%;
    background-image: url("plant.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title-span::before{
    content: "Web Development";
    padding-left: 10px;
    animation: animate 8s infinite;
}

@keyframes animate{
    0% {
        content:"Web Development";
    }
    25% {
        content: "Software Development";
    }
    50% {
        content: "Chilli Growing";
    }
    75% {
        content: "Technology";
    }
    100% {
        content: "People";
    }
}

#navbar {
    background-color: #12303c;
    border-bottom: solid white;
    border-width: 1px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#myself-image {
    height: 628px;
}

#introduction{
    background: url(./images/mountain.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: auto;
    height: 105vh;

}

@keyframes fadeInAnimation{
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

h1 {
    text-align: center;
    color: white;
    padding-top: 15%;
    font-size: 70px;
    font-family: 'Merriweather', serif;
    
}

h3 {
    text-align: center;
    color: white;
    padding-top: 5px;
    font-size: x-large;
    font-family: 'Raleway', sans-serif;
}

.sley {
    text-decoration: underline 4px;
}

#body-text{
    color: #1F1D36;
}

#skills-head {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 50px;
    font-weight: lighter;
    border-bottom: double #12303c;
}

#skills-1{
    text-align: start;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 50px;
    margin: auto;
}

#skills-2{
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 50px;
    margin: auto;
}

#footer{
    background-color: #444444;
}

#copywrite-text{
    color: #F6F1E9;
}

.logo{
    display: inline-flex;
    justify-content: start;
    align-items: start;
}
hr {
    border: dotted #03001C 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

#projects-head {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 5px;
    padding-top: 50px;
    font-size: 50px;
    border-bottom: double #12303c;
    padding-bottom: 15px;
}

#picture-frame {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#picture-text {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
}

#project-name{
    color: #03001C;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
}

.jects {
    text-decoration: underline 2px;
}

.ills{
    text-decoration: underline 2px;
}

p{
    font-family: 'Raleway', sans-serif;
    color: #1F1D36;
}

#software {
    text-decoration: underline 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#head-buttons {
    padding-bottom: 20px;
}

.skiils {
    padding-top: 15px;
}

#Tindog-Project{
    color: #03001C;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
}

#tindog-text {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    text-align: center;
}

/* #footer-image1{
    flex: 1;
    margin-left: 450px;

}

#footer-image2{
    flex: 1;
    
}

#footer-image3{
    flex: 1;
    margin-right: 450px;
    
}

#footer-image4{
    flex: 1;
    /* display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 300px;

}
*/

@media screen and (max-width: 500px){
    .footer{
        width: auto;
    }
    #footer-image1{
        width: 50%;
    }
    #footer-image2{
        width: 50%;
    }
    #footer-image3{
        width: 50%;
    }
    #footer-image4{
        width: auto;
    }
}

.btn a{
    text-decoration: none;
    color: #F6F1E9;
}

.btn a:hover{
    background-color: none;
    color: black;
}

.btn{
    transition: all 0.5s;
    cursor: pointer;
    
}

.btn span{
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
    position: relative;
}

.btn span::after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span{
    padding-right: 25px;
}

.btn:hover span::after{
    opacity: 1;
    right: 0;
}

#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #12303c;
    color: #F6F1E9;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover{
    background-color: #444444;
}

#profile-photo{
    --s: 500px; /*size of image */
    --b: 5px;   /*border thickness */
    --g: 14px;  /*the gap */
    --c: #12303c;   /*color of block animation*/

    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/2) solid #0009;
    outline-offset: calc(var(--s)/-2);
    cursor: pointer;
    transition: .3s;
    margin: auto;
}

#profile-photo:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
}

#profile-photo + #profile-photo {
    border-radius: 50%;
}
